# Build Artifacts
build/
install/
log/
launch_logs/
.catkin_workspace
COLCON_IGNORE
compile_commands.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor
.vscode/
.idea/

# Large test data
experiment_data/
